version: "2"
services:
  web:
    image: hugoxiong/photo-gallery
    ports:
    - "80:3000"
    depends_on:
    - mongo
    volumes:
      - .:/code
  mongo:
    image: hugoxiong/mongo
    ports:
    - "27017:27017"
    volumes:
      - data-volume:/data/db
volumes:
  data-volume: