.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: white;
  z-index: 2;
}

.modal.active {
  display: block;
}

.gallery {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.carousel {
  position: relative;
}

.carousel img {
  position: relative;
  object-fit: contain;
}

.slider {
  /* placeholder */
}

.closeBtn {
  cursor: pointer;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 40px;
  z-index: 3;
  background: none;
  border: none;
  font-size: 2rem;
}

.closeBtn:focus {
  outline: none;
}

.prevBtn, .nextBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #9b9b9b;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  z-index: 1;
  margin-left: 20px;
}

.nextBtn {
  right: 0;
  margin-right: 20px;
}